[defaults]
# FIXED PATH ISOLATION: Explicitly maps absolute disk paths for the Multibranch workspace environment
roles_path = /var/lib/jenkins/workspace/Multibranch_pipeline_develop/roles
host_key_checking = False
