[defaults]
# FIXED MULTIBRANCH WORKSPACE PATH: Mapping the true directory name using correct underscores
roles_path = /var/lib/jenkins/workspace/Multibranch_pipeline_develop/roles:/var/lib/jenkins/workspace/Multibranch_pipeline_develop/static-assignments/roles
host_key_checking = False
